# HOW TO PUBLISH...
#
# Prep Work (ensure need modules are up-to-date):
#   sudo pacman -Syu python-pip
#   sudo pacman -Syu python-build
#   sudo pacman -Syu python-twine
#   -- antiquated way
#      python3 -m pip install --upgrade pip
#      python3 -m pip install --upgrade build
#      python3 -m pip install --upgrade twine
#
# Build and test (from project directory):
#   ## BUMP the version (below in [project])
#   rm -r dist; python3 -m build
#   python3 -m twine upload --repository testpypi dist/*
#     ## Enter __token__ and the saved TOKEN (in bitwarden)
#   sudo python3 -m pip install --index-url https://test.pypi.org/simple/ --no-deps pmemstat
#   ## VISIT  https://test.pypi.org/project/pmemstat and delete old versions
# 
# Build and deploy (from project directory):
#   ## BUMP the version (below in [project])
#   rm -r dist; python3 -m build; ls dist/.
#   python3 -m twine upload dist/*
#     ## Enter __token__ and the saved TOKEN (in bitwarden)
#   sudo python3 -m pip install pmemstat
#   ## VISIT  https://pypi.org/project/pmemstat and delete old versions

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
version = "2.3.21"
name = "pmemstat"
authors = [
    {name = "Joe Defen", email = "joedef@gmail.com"},
]
description = "Report Proportional Memory on Linux"
readme = "README.md"
requires-python = ">=3.8"
keywords = ["proportional memory"]
license = "MIT"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: POSIX :: Linux"
]
dependencies = [
    "requests",
    'importlib-metadata; python_version<"3.8"',
]

[project.scripts]
pmemstat = "pmemstat.pmemstat:run"

[tool.hatch.build.targets.wheel]
packages = ["pmemstat"]

[tool.hatch.build.targets.sdist]
exclude = [
    "/pmemstat/__pycache__",
]

[project.urls]
"Homepage" = "https://github.com/joedefen/pmemstat"
"Bug Tracker" = "https://github.com/joedefen/pmemstat/issues"
